.all{
    display: flex;
    flex-direction: column;
    height: fit-content;
    bottom: 0;
}

.header{
    position: fixed;
    top: 0px;
    left: 70px;
    background-color: rgb(84, 84, 84);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-bottom: 2px solid rgb(61,61,61);
    border-color: rgb(28, 28, 28);
    width: 100%;
    min-width: 501px;
    z-index: 50;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}
.headerleft{
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    width: 180px;
    height: 100%;
    flex-shrink: 0;
}
.headermid{
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 470px;
    min-width: 0;
    width: 0;
}
.headerright{
    display: flex;
    column-gap: 5px;
    flex-direction: row; 
    padding-top: 1px;
    align-items: center;
    width:fit-content;
    margin-right: 75px;
    justify-content: space-between;
    flex-shrink: 0;
}

.searchbar{
    background-color: rgb(148, 148, 148);
    padding: 6px;
    width: 100%;
    min-width: 0;
    flex: 1;
    height: 23px;
    margin-right: -2px;
    font-size: 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 1px;
    border-color: rgb(61, 61, 61);
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0,0.3);
  
}
.searchbar::placeholder{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: rgb(41, 41, 41);
}
.searchbar:focus{
    outline: none;
    outline-offset: none;
    border: 2px solid rgb(37, 37, 37);
}
.searchbar input[type=text]{
    color: rgb(26, 26, 26);
}
.bhs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38.38px;
    width: 60px;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 0px;
    cursor: pointer;
    background-color: rgb(84, 84, 84);
    margin-right: 4px;
}
.bhs:hover{
    background-color: rgb(74, 74, 74);
}
.bhs:active{
    background-color: rgb(63, 63, 63);
}
.bh{

    display: flex;
    transition:background-color  .1s;
    transition: border-color .7s;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid rgb(84, 84, 84);
    align-self: center;
    background-color: rgb(84, 84, 84);
}
.bh:hover{
    background-color: rgb(74, 74, 74);
    cursor: pointer;
    border: 1px solid rgb(74, 74, 74);
}
.bh:active{
    background-color: rgb(64, 64, 64);
    border: 1px solid rgb(63, 63, 63);
}
.bh1{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.bh2{
    background-color: rgb(84, 84, 84);
    display: flex;
    position: relative;
    transition:background-color  .1s;
    transition: border-color .7s;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid rgb(84, 84, 84);
    align-self: center;
}
.bh2:hover{
    background-color: rgb(74, 74, 74);
    cursor: pointer;
    border: 1px solid rgb(74, 74, 74);
}
.bh2:active{
    background-color: rgb(64, 64, 64);
    border: 1px solid rgb(63, 63, 63);
}
.notifications{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
    background-color: red;
    font-size: 12px;
    color: white;
    top: -3px;
    right: 5px;


}
.tooltip{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 11px;
    padding: 8px;
    border-radius: 3px;
    color: white;
    background-color: rgb(111, 111, 111);
    bottom: -43px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all .2s;
    
}
.bh:hover .tooltip{
opacity: 0.8;
}
.bhs:hover .tooltip{
    opacity: 0.8;
    bottom: -35px;
}
.logo{
    display: inline-block;
    display:flex;
    cursor: pointer;
    height: 100%;
    width: 120px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
