.index{
    position: fixed;
    background-color: rgb(84, 84, 84);
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 100%;
    z-index: 65;
    border-right: 2px solid rgb(32, 32, 32);
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
}
.bi{
    display: flex;
    width: 16%; 
    justify-content: center;
}
.bin{
    display: flex;
    width: 36%; 
    justify-content: center;
}
.bi0{
    cursor: pointer;
    display: flex;
    width: 40%; 
    justify-content: center;
}
.din{
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 67px;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    transition: all .1s;
} 
.din:hover{
    background-color: rgb(68, 68, 68);

}
.din:active{
    background-color: rgb(57, 57, 57);

}
.din0{
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 62px;
    justify-content: center;
    align-items: center;
} 
.pi{
    font-size: 10px;
    text-align: center;
}
.menudiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 1000px;   
    pointer-events: none;
    padding-right: 15px;
    background-color: rgb(128, 128, 128);
    z-index: -100;
    opacity: 0;
}

.expsidebar0{
    display: flex;
    column-gap: 35px;
    width: 100%;
    height: 62px;
    justify-content: left;
    align-items: center;
    padding-left: 17px;

}
.expsidebar1{
    position: relative;
    display: flex;
    column-gap: 15px;
    width: 90%;
    height: 35px;
    justify-content: left;
    padding: 8px 0px 8px 17px;
    cursor: pointer;

}
.expsidebar1:hover{
    background-color: rgb(173, 173, 173);
}

.expsidebar1:active{
    background-color: rgb(154, 154, 154);
}
.expsidebar1current{
    position: relative;
    display: flex;
    column-gap: 15px;
    width: 90%;
    height: 35px;
    justify-content: left;
    align-items: center;
    padding: 8px 0px 8px 17px;
    background-color: rgb(154, 154, 154);
    cursor: pointer;
}

.expsidebar1current:hover{
    background-color: rgb(148, 148, 148);
}

.expsidebar1current:active{
    background-color: rgb(141, 141, 141);
}


.pei{
    display: flex;
    font-size: 14px;
    height: 100%;
    flex: 1;
    align-items: center;
    margin: 0;
}
.darkmode{
    position: fixed;
    flex: 1;
    background-color: black;
    width: 100%;
    height: 1000px;
    top: 0;
    z-index: -100;
    opacity: 0;

}
.bh3{
    background-color: rgb(201, 201, 201);
    display: flex;
    position: relative;
    transition:background-color  .1s;
    transition: border-color .7s;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid rgb(201, 201, 201);
    align-self: center;
}
.bh3:hover{
    background-color: rgb(173, 173, 173);
    cursor: pointer;
    border: 1px solid rgb(173, 173, 173);
}
.bh3:active{
    background-color: rgb(154, 154, 154);
    border: 1px solid rgb(154, 154, 154);
}
.menu{
    transition: all 0.15s;
    position: fixed;
    flex: 1;
    background-color: rgb(200, 200, 200);
    width: 250px;
    height: 1000px;
    top: 0;
    left: -40px;
    z-index: -100;
    opacity: 0;
    border-right: 2px solid rgb(30,30,30);
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
}

.barrow{
    display: flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    width: 16%;
    align-self: center;
    height: 72%;
    right: 20px;
    opacity: 0.65;
 
   
}
.arrow{
    width: 40%;
}
.jogos{
    position: absolute;
    background-color: rgb(200, 200, 200);
    width: 220px;
    top: 51.4px;
    right: -5px;
    z-index:-5;
    opacity:0;
}
